.custom-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  
    &.primary {
      background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
      color: var(--color-text);
  
      &:hover:not(:disabled) {
        transform: translateY(-2px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
      }
  
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  
    &.light {
      background: var(--color-text-bg);
      color: var(--color-text);
  
      &:hover:not(:disabled) {
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
    &.secondary {
      background: var(--color-secondary);
      color: var(--color-text);
  
      &:hover:not(:disabled) {
        transform: translateY(-2px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
  
      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }